// Colors
$primary: #0d6efd;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;

// Spacers
$spacer-base: 1rem !default;

$spacers: (
  0: 0,
  1: $spacer-base * .25,
  2: $spacer-base * .5,
  3: $spacer-base,
  4: $spacer-base * 1.5,
  5: $spacer-base * 3,
);

// Sopmethign



