* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  height: 3000px;
}

// variables
$bg-color-1: #002b5c;
$white: #fff;

// Navbar
.navbar--full-width {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 3rem;
  background-color: $bg-color-1;
  position: fixed;
  z-index: 101;
  transition: transform 0.2s;

  .nav-logo {
    img {
      height: 22px;
      width: auto;
      color: $white;
    }
  }

  .nav__list {
    display: flex;
    margin-left: 3rem;

    .nav__item {
      padding: 1rem 2.9rem 1rem 0;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }

      .nav-link {
        color: $white;
      }
    }
  }

  .nav__login {
    margin-left: auto;
  }
}

.btn {
  padding: 0.4rem 1.2rem;
  cursor: pointer;
  font-size: 1rem;
}

.scroll-down {
  transform: translate3d(0, -100%, 0);
}

.scroll-up {
  // transform: translate(0, -100px)
}

// Hero Banner
.cmp-hero {
  img {
    object-fit: contain;
    width: 100%;
  }
}




