<link rel="stylesheet" href="accordion.styles.css">
<script defer src="accordion.js"></script>

<div id="accordion">
  <div class="cmp-accordion">
    <ul class="accordion-card">
      <li class="accordion-item accordion-item--collapse accordion-item--expand">
        <div class="accordion-item-content">
          <div class="accordion-item-content--header">
            <h3 class="">Microsoft Word</h3>
          </div>
          <div class="accordion-item-content--body">
            <p class="">Create impressive documents and improve your writing with built-in intelligent features.</p>
            
          </div>
        </div>
      </li>
      <li class="accordion-item accordion-item--collapse"></li>
      <li class="accordion-item accordion-item--collapse"></li>
    </ul>
  </div>
</div>